
.imgText{
	margin-top: -15px;
	color:#cccc;
	font-size: 14px;
}
.imgSource{
	text-align: center;
	font-weight: semibold;
	margin-top: -10px;
	color:#4527a4;
}

.help{
	background-color: rgb(221, 208, 190);
	padding: 50px;
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 10px;
	img{
		width:30px;
		border-radius: 100%;
	}
	
}

.components-form-toggle.is-checked .components-form-toggle__track {
	background-color: #635bbc;
	border-color: #635bbc;
	// box-shadow: 0 0 0 var(--wp-admin-border-width-focus) #fff,
	//   0 0 0 calc(var(--wp-admin-border-width-focus) * 2) #635bbc;
  }

.imgChild div{
	  transition: transform 0.5s, border 0.5s, border-radius 0.5s, box-shadow 0.5s;
}
.imgChild:hover{
		div{
			transform: scale(1.1);
	    cursor: pointer;
		}
	
}
.contentPan,.stylePan{
	background: #5a595a2e;
}
.contentChild,.styleChild{
	margin-top: -15px;
	background: #EEEEEE ;
	padding:10px 15px;
	border-radius: 15px;
}

// top level style
.inheritStyle1{
  display: flex;
	justify-content: space-between;
	align-items: center;
}
// for padding
.padding{
	@extend .inheritStyle1;
}
// for margin
.margin{
	@extend .inheritStyle1;
}
// for imgAlign
.imgAlign{
	@extend .inheritStyle1;
}
// for customWidth
.customWidth{
	@extend .inheritStyle1;
}
// for customHeight
.customHeight{
	@extend .inheritStyle1;
}
.customTextAlign{
	@extend .inheritStyle1;
}
.typo{
	@extend .inheritStyle1;
}
.colorsPar{
	@extend .inheritStyle1;
}
.capBor{
	@extend .inheritStyle1;
}

// label style
.inheritStyle2 {
	margin-bottom: -5px;
	font-weight: 500;
	color: #4524a4;
}
.padChild{
	@extend .inheritStyle2;
}
.typoChild{
	@extend .inheritStyle2;
}
.colorsChild{
	@extend .inheritStyle2;
}
.disBChild{
	@extend .inheritStyle2;
}
.marChild{
	@extend .inheritStyle2;
}
.shadChild{
	@extend .inheritStyle2;
	margin-bottom: 10px;
}
.borChild{
	@extend .inheritStyle2;
	margin-bottom: 10px;
}
.alignChild{
	@extend .inheritStyle2;
}
.sourceChild{
	@extend .inheritStyle2;
	margin-bottom: 5px;
}
.stlChild{
	@extend .inheritStyle2;
	margin-bottom: 5px;
}
.captionChild{
	@extend .inheritStyle2;
	margin-bottom: 5px;
}
.imgSizeChild{
	@extend .inheritStyle2;
	margin-bottom: 5px;
}
.widthChild{
	@extend .inheritStyle2;
}
.heightChild{
	@extend .inheritStyle2;
}
.fitImgChild{
	@extend .inheritStyle2;
	margin-bottom: 5px;
}
.enableLinkChild{
	@extend .inheritStyle2;
	margin-bottom: 5px;
}
.hoverEffectChild{
	@extend .inheritStyle2;
	margin-bottom: 5px;
}
.textAlignChild{
	@extend .inheritStyle2;
}

// margin top and right gap
.my{
	margin-top: 7px;

}






























$primaryColor: #4527a4;

// Common CSS
html {
	scroll-behavior: smooth;
}

// Dashicon
.dashicons {
	font-family: dashicons !important;
}

// Block Name
.wp-block-prefix-block-name {
	* {
		box-sizing: border-box;
	}

	.prefixBlockName {
		display: inline-block;
	}

	.icon {
		font-style: inherit;
	}

	img {
		width: 100%;
		max-width: 100%;
	}
}